.work {
  margin: 10rem 0;
  img,
  video {
    width: 82rem;
  }
}

.work-title {
  font-size: 3rem;
  font-weight: bold;
  h1 {
    font-size: 9rem;
  }
  a {
    float: right;
    margin-top: 4em;
    .dark-room {
      text-decoration: underline;
    }
    span {
      font-size: 4rem;
    }
  }
  .top-script {
    display: flex;
    margin: 12rem 0;
    .left-script {
      flex: 1 1 0%;
    }
    .right-script {
      flex: 1 1 0%;
    }
  }
  .bottom-script {
    margin: 12rem 0;
  }
}

.line {
  width: 50rem;
  border: 1rem solid white;
}

.work-appreciate {
  display: flex;
  flex-direction: column;
  gap: 14rem;
  margin: 12rem 0 20rem 0;
  .work-appreciate-element {
    display: flex;
    gap: 5rem;
    img {
      flex: 1 1;
    }
    .work-explanation {
      display: flex;
      font-size: 3.5rem;
      flex: 1 1;
      flex-direction: column;
      justify-content: flex-end;
      p {
        display: block;
      }
      .work-name {
        font-weight: bold;
      }
    }
  }
}

.scroll-up {
  border: 0.7rem solid white;
  border-radius: 100px;
  font-size: 3rem;
  font-weight: bold;
  padding: 0.8rem 3rem;
}

@media screen and (max-width: 480px) {
  .work {
    img,
    video {
      width: 100%;
    }
  }
  .work-title {
    font-size: 2.5rem;
    h1 {
      font-size: 6rem;
    }
    a {
      float: none;
      display: block;
    }
    .top-script {
      display: block;
    }
  }
  .line {
    width: 30rem;
    border: 1rem solid white;
  }
  .work-appreciate {
    .work-appreciate-element {
      display: block;
      img {
        margin-bottom: 2rem;
      }
    }
  }
  .scroll-up {
    border: 0.7rem solid white;
    border-radius: 100px;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.8rem 3rem;
    margin-bottom: 6rem;
    p {
      white-space: nowrap;
    }
  }
}
